<% @produto.errors.full_messages.each do |msg|%>
  <div class="alert alert-danger" role="alert">
    <%= msg%>
  </div>
<% end %>

<%= form_for @produto do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class:"form-control"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :description%>
        <%= f.text_area :description, class:"form-control", rows:4 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :department %>
        <%= f.collection_select :department_id, @departments, :id, :name, {}, class:"form-control" %>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, step:0.01, class:"form-control"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :quantity%>
        <%= f.number_field :quantity, class:"form-control"%>
      </div>
    </div>
  </div>     
<br/>      
  <%= f.submit text_action, class:"btn btn-primary" %>

  <%end%>
</form>
