<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan="1">
    </tr>
  </thead>
  <tbody>       
      <% @produtos.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.description %></td>
          <td><%= p.price %></td>
          <td><%= p.quantity %></td>
          <td><%= button_to "Remover", p, method: :delete, class:"btn btn-danger", data:{confirm: "Tem certeza que quer remover o produto #{p.name}?"} %></td>
        </tr>       
      <%end%>          
  </tbody>     
</table>